body {
  background-color: #333333;
}


h1 {
  color: #333;
  background-color: #CBE83D;
  font-weight: normal;
}


p {
  background-color: #666666;
  color: #ffffff;
}
.first-paragraph {
  font-size: 30px;
  font-family: "Roboto Slab", "Montserrat", arial, sans-serif;
  border-left: 12px solid green;
  border-bottom: 1px solid white;
  font-weight: bold;
  text-decoration: underline;
  font-style: italic;
  padding: 30px;
  margin: 120px;
}






