body {
  font-family: arial, sans-serif;
  margin: 0;
}
.main-nav {
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
}
.nav-link {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 3px;
  margin: 5px;
  display: inline-block;
}
.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-teal {
  color: #62B7BB;
}
.nav-blue {
  color: #288bcd;
}
.nav-red {
  color: #ee5573;
}
.nav-yellow {
  color: #ffa73a;
}

/* hero styles */
.hero {
  color: #ffffff;
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
}
.hero-yellow {
  background-image: url('images/city-yellow.jpg');
}
.hero-blue {
  background-image: url('images/snow-blue.jpg');
}
.hero-red {
  background-image: url('images/mountains-red.jpg');
}
.hero-h1 {
  margin: 0;
  padding-top: 100px;
}
.main-content {
  text-align: center;
}
.left-box {
  width: 300px;
  height: 300px;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}
.left-box-yellow {
  background-color: #ffa73a;
}
.left-box-blue {
  background-color: #288bcd;
}
.left-box-red {
  background-color: #ee5573;
}

.right-box {
  width: 300px;
  height: 300px;
  display: inline-block;
  vertical-align: top;
}
.right-box-yellow {
  border: 2px solid #ffa73a;
}
.right-box-blue {
  border: 2px solid #288bcd;
}
.right-box-red {
  border: 2px solid#ee5573;
}